/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #0e0e0e;
  color: #f5f5f5;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

/* FILM GRAIN OVERLAY */
body::after {
  content: "";
  position: fixed;
  inset: 0;
  background: url("https://grainy-gradients.vercel.app/noise.svg");
  opacity: 0.05;
  pointer-events: none;
  z-index: 9999;
}

/* GOLD COLOR */
:root {
  --gold: #c6a85b;
}

/* NAV */
nav {
  position: fixed;
  width: 100%;
  padding: 25px 10%;
  display: flex;
  justify-content: space-between;
  background: rgba(14,14,14,0.9);
  backdrop-filter: blur(10px);
  z-index: 1000;
}

nav a {
  text-decoration: none;
  color: white;
  margin-left: 30px;
  letter-spacing: 2px;
  font-size: 12px;
  position: relative;
}

/* GOLD HOVER LINE */
nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 1px;
  background: var(--gold);
  transition: 0.4s ease;
}

nav a:hover::after {
  width: 100%;
}

/* HERO */
.hero {
  height: 100vh;
  background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("photo1.jpg") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero h1 {
  font-family: 'Cormorant Garamond', serif;
  font-size: 5rem;
  letter-spacing: 5px;
}

.gold-btn {
  border: 1px solid var(--gold);
  padding: 12px 35px;
  color: var(--gold);
  text-decoration: none;
  letter-spacing: 3px;
  transition: 0.4s;
}

.gold-btn:hover {
  background: var(--gold);
  color: black;
}

/* SECTION */
section {
  padding: 140px 10%;
  text-align: center;
}

h2 {
  font-family: 'Cormorant Garamond', serif;
  font-size: 3rem;
  margin-bottom: 60px;
}

/* GALLERY */
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
  gap: 30px;
}

.gallery img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  transition: 0.6s ease;
}

.gallery img:hover {
  transform: scale(1.05);
  filter: brightness(1.1);
}

/* FORM */
form {
  max-width: 600px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

input, textarea {
  margin-bottom: 20px;
  padding: 15px;
  background: transparent;
  border: 1px solid #333;
  color: white;
}

button {
  padding: 15px;
  background: var(--gold);
  border: none;
  letter-spacing: 3px;
  cursor: pointer;
}

/* CUSTOM CURSOR */
.cursor {
  width: 20px;
  height: 20px;
  border: 1px solid var(--gold);
  border-
